@page "/"
@using ContosoUniversity.UI.Services.Base
@using Services.Student
@inject HttpClient Http

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@if (students != null)
{
    @foreach(StudentDto student in students)
    {
        <h2>@student.LastName</h2>
    }
}
