@page "/"
@using ContosoUniversity.Application.Dtos
@inject HttpClient Http

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@if (student != null)
{
    <h2>@student.LastName</h2>
    <h2>@student.FirstName</h2>
}

@code {
    StudentDto student { get; set; }
    int id = 2;
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine(Http.BaseAddress);
        student = await Http.GetFromJsonAsync<StudentDto>($"api/Student/{id}");
    }



}